* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

a.btn {
  transition: 0.4s;
}

nav a {
  transition: 0.4s;
}

nav a:hover {
  transform: scale(1.3);
}

.nav-link:hover {
  transform: scale(1.3);
}

.nav-link {
  transition: 0.4s;
}

.link-secondary {
  transition: 0.4s;
}

.link-secondary:hover {
  transform: scale(1.5);
}
